.modal {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: inherit;
  width: 100%;
  height: 231px;
  background-color: $light-gray;
  padding: 26px 53px 44px 52px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.modal__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.modal__text {
  font-size: 16px;
  line-height: 18px;
  color: $special-gray2;
  margin-bottom: 32px;
  padding: 0 37px;

  &--pink {
    padding: 0 14px;
  }

  &--barbershop {
    padding: 0 44.5px;
  }

  &--aplus {
    padding: 0 21px;
  }

  &--kvast {
    padding: 0 23.5px;
  }
}

.modal__button {
  font-family: inherit;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $basic-white;
  padding: 17px 72px 15px;
  border: none;
  border-radius: 3px;
  background-color: $special-red;
}
