.page-header {
  padding: 49px 140px 0;
  min-height: 545px;
  width: 1440px;
  background-color: $light-gray;

  &--catalog {
    min-height: 355px;
  }
}

.page-header__wrapper {
  display: flex;
}

.page-header__logo {
  &:active path {
    fill: $light-gray2;
  }
}

.page-header__slide-wrapper {
  position: relative;
}

.page-header__slider {
  display: flex;
  position: absolute;
  bottom: 96px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.page-header__main-title {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
  text-align: center;
  margin-top: 78px;
  margin-bottom: 108px;
}

.page-header__input {
  display: none;
}

.page-header__label {
  cursor: pointer;
  position: relative;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    width: 18px;
    height: 18px;
    left: 0;
    background-color: $basic-white;
    border: 5px solid $basic-white;
  }

  &::after {
    left: 5px;
    width: 9px;
    height: 9px;
  }
}

.page-header__input[type="radio"]:checked + .page-header__label {
  &::after {
    border: 2px solid $special-gray5;
  }
}
