.page-main {
  padding: 80px 140px;
}

.page-main__services {
  margin-bottom: 80px;
}

.page-main__stats-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 2px solid $light-gray;
  margin-bottom: 73px;
  column-gap: 50px;
}

.page-main__features {
  margin-top: 73px;
}

.page-main__stats {
  margin-top: 39px;
}

.page-main__catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 140px;
  padding: 55px 140px 60px;
}

.page-main__options {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 260px;
}

.page-main__sort {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
  height: max-content;
}

.page-main__sort-title {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-main__sort-list {
  display: flex;
  margin-left: 266px;
}

.page-main__sort-item {
  &:first-child {
    .page-main__sort-link {
      color: $basic-black;
      margin-right: 25px;

      &:hover {
        color: rgba($color: $basic-black, $alpha: 0.6);
      }

      &:active {
        color: rgba($color: $basic-black, $alpha: 1);
      }
    }
  }

  &:nth-child(2) {
    .page-main__sort-link {
      margin-right: 26px;
    }
  }

  &:nth-child(3) {
    .page-main__sort-link {
      margin-right: 47px;
    }
  }

  &:nth-child(4) {
    .page-main__sort-link {
      margin-right: 18px;
    }
  }

  &:last-child {
    .page-main__sort-link {
      margin-right: 0;
    }
  }
}

.page-main__sort-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba($color: $basic-black, $alpha: 0.3);
  text-decoration: none;

  &--active {
    .page-main__icon-dir {
      fill: $special-gray9;
      opacity: 100%;
    }
  }

  &:hover {
    color: rgba($color: $basic-black, $alpha: 0.6);

    .page-main__icon-dir {
      fill: $light-gray2;
      opacity: 100%;
    }
  }

  &:active {
    color: rgba($color: $basic-black, $alpha: 1);

    .page-main__icon-dir {
      fill: $special-gray9;
      opacity: 100%;
    }
  }
}

.page-main__icon-dir {
  fill: $light-gray2;
  opacity: 20%;
}

.page-main__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 30px;
}

.page-main__slider {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
}
