.page-header {
  position: relative;
  padding-top: 49px;
  padding-right: 143px;
  padding-left: 140px;
  background-color: $light-gray;

  &--catalog {
    min-height: 355px;
  }
}

.page-header__wrapper {
  display: flex;
}

.page-header__slider {
  position: absolute;
  bottom: 96px;
  left: 50%;
  margin-right: 17px;
  transform: translateX(-50%);

  &:last-child {
    margin-right: 0;
  }
}

.page-header__main-title {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
  text-align: center;
  margin-top: 78px;
  margin-bottom: 108px;
}
