.products {
  font-family: inherit;
}

.products__item {
  position: relative;

  &:first-child {
    border-color: $basic-white;
    box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
    border-radius: 5px;
  }
}

.products__icon-browser {
  margin-bottom: -4px;
}

.products__image {
  width: 100%;
  border: 1px solid $light-gray3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
