.social {
  display: flex;
  align-items: center;
}

.social__wrapper {
  order: 2;
  margin-left: 139px;
}

.social__title {
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: $special-gray1;
}

.social__list {
  order: 1;
  display: flex;
}

.social__item {
  width: 81px;
  height: 81px;
  border: 40px solid $light-gray1;
  border-radius: 50%;
  margin-right: 9px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: $special-red1;
  }

  &:active {
    border-color: $special-red2;

    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__link {
  position: relative;
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
