// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$light-gray: #eeeeee;
$light-gray1: #e1e1e1;
$light-gray2: #a6a6a6;
$light-gray3: #f2f2f2;
$light-gray4: #dbdbdb;
$light-gray5: #dfdfdf;
$light-gray6: #d5d5d5;
$dark-gray: #283136;
$special-gray1: #444444;
$special-gray2: #666666;
$special-gray3: #d7dcde;
$special-gray4: #b4b9bb;
$special-gray5: #c1c1c1;
$special-gray6: #d7dcdf;
$special-gray7: #ababab;
$special-gray8: #4d4d4d;
$special-gray9: #231f20;
$special-red: #fb565a;
$special-red1: #e74246;
$special-red2: #d7373b;
$light-green: #00ca74;
$special-green1: #00bc6c;
$special-green2: #00aa62;
$dark-yellow: #efc849;
$special-yellow1: #eab534;
$special-yellow2: #e5a722;
